body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('img/beautiful-background3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* El fondo permanecerá fijo */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    flex-direction: column;
    overflow: hidden; /* Evitar desplazamiento de la página */
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    overflow: hidden; /* Asegurarse de que el contenido no desborde */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.swiper-container {
    width: 100%;
    height: auto;
    margin-bottom: 20px; /* Ajustar el espacio entre el slider y el resto del contenido */
}

.swiper-slide {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

#special-phrase {
    font-size: 1.8em;
    font-weight: bold;
    margin: 20px 0;
}

.phrase-of-the-day {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffeb3b; /* Color amarillo para resaltar */
}

.song-name {
    margin: 20px 0;
    font-size: 1em;
    color: #ccc;
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.8em;
    color: #ccc;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    .swiper-slide {
        font-size: 1em;
    }

    #special-phrase {
        font-size: 1.5em;
    }

    .phrase-of-the-day {
        font-size: 1em;
    }

    .song-name {
        font-size: 0.8em;
    }

    .footer {
        font-size: 0.7em;
    }
}
