body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('img/beautiful-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* El fondo permanecerá fijo */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    flex-direction: column;
    overflow: hidden; /* Evitar desplazamiento de la página */
}

/* Asegúrate de que el selector de música no se superponga al texto */
@media (max-width: 768px) {
    .background-selector {
        position: relative; /* Cambia la posición a relativa para que pueda moverse más fácilmente */
        top: auto; /* Resetea la propiedad 'top' */
        right: auto; /* Resetea la propiedad 'right' */
        margin: 10px auto; /* Centra el botón y le da margen superior e inferior */
    }

    .song-selector {
        position: relative; /* Cambia la posición a relativa para que pueda moverse más fácilmente */
        margin: 10px auto; /* Centra el botón y le da margen superior e inferior */
    }

    .container {
        padding: 20px;
        max-width: 90%; /* Ajusta el ancho del contenedor para mayor espacio en pantallas pequeñas */
    }

    h1 {
        font-size: 2em; /* Ajusta el tamaño del texto del encabezado para pantallas más pequeñas */
    }
}


.background-selector label, .music-selector label {
    margin-right: 5px;
}

.background-selector select, .music-selector select {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    overflow: hidden; /* Asegurarse de que el contenido no desborde */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.swiper-container {
    width: 100%;
    height: auto;
    margin-bottom: 20px; /* Ajustar el espacio entre el slider y el resto del contenido */
}

.swiper-slide {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

#special-phrase {
    font-size: 1.8em;
    font-weight: bold;
    margin: 20px 0;
}

.phrase-of-the-day {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffeb3b; /* Color amarillo para resaltar */
}

.song-name {
    margin: 20px 0;
    font-size: 1em;
    color: #ccc;
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.8em;
    color: #ccc;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    .swiper-slide {
        font-size: 1em;
    }

    #special-phrase {
        font-size: 1.5em;
    }

    .phrase-of-the-day {
        font-size: 1em;
    }

    .song-name {
        font-size: 0.8em;
    }

    .footer {
        font-size: 0.7em;
    }
    .view-poem-button {
        margin: 20px 0;
    }
    
    .button {
        background-color: #ff6f61; /* Color de fondo del botón */
        color: #fff; /* Color del texto del botón */
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        display: inline-block;
    }
    
    .button:hover {
        background-color: #ff3b30; /* Color del botón al pasar el cursor */
    }
    .poem-container {
        max-width: 80%;
        margin: 0 auto;
        padding: 20px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        text-align: center;
        max-height: 80vh; /* Limita la altura máxima del contenedor al 80% de la altura de la ventana */
        overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido excede la altura */
    }
    
    .poem-container {
        max-width: 80%;
        margin: 0 auto;
        padding: 20px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        text-align: center; /* Cambiado a "center" para centrar el texto */
    }
    
    .poem-container p {
        font-size: 1.5em;
        line-height: 1.6;
        margin-bottom: 20px;
        text-align: center; /* Asegura que todo el texto esté centrado */
        margin: 0; /* Elimina cualquier margen adicional */
        padding: 0; /* Elimina cualquier padding adicional */
    }
    
    
    .button {
        background-color: #ff6f61;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        display: inline-block;
    }
    
    .button:hover {
        background-color: #ff3b30;
    }
    
        
}
